@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply dark:bg-black dark:text-white;
}

input,
textarea {
  outline: none;
}
